.animator {
  animation-name: center-stuff;
  animation-duration: 2s;
  min-height: 20em;
}

@keyframes center-stuff {
  0% {
    @apply h-full;
  }
  100% {
    @apply h-4/6;
  }
}

.buttons {
  animation-name: show-buttons;
  animation-duration: 2s;
  visibility: visible;
}

@keyframes show-buttons {
  0% {
    display: none;
    visibility: hidden;
  }
  100% {
    display: none;
    visibility: hidden;
  }
}
