.header-shadow {
    @apply bg-gray-900;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    z-index: 3;
    /* border-bottom-color: rgba(147, 197, 253, 50%);
    border-bottom-width: 1px;
    border-bottom-style: solid; */
}