<header class="header-shadow p-1 flex justify-between sticky h-14">
  <div class="flex items-center ml-10">
    <div class="items-center border-2 border-blue-300 rounded-md px-1 py-1.5">
      <img src="logo.svg" class="h-full inline" />
      <div class="text-white bg-purple-500 px-4 my-1 py-2 rounded-sm inline text-lg">
        Management
      </div>
    </div>
  </div>
  <div class="p-1 flex items-center">
    <button class="text-white" click.trigger="logoutClick()">Logout</button>
  </div>
</header>
